/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

::-webkit-scrollbar {
    width: 5px;
}
   
::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #a3a3a3;
    color: #a3a3a3;
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

